* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-gradient);
    min-height: 100vh;
}

:root {
    /* Color */
    --background-color: #609966;
    --background-color-two: #285430;
    --background-color-three: #5F8D4E;
    --background-gradient: linear-gradient(to right, var(--background-color-two), var(--background-color-three));
    --hover-color-one: #215b08d0;
    --text-color-one: #000;
    --text-color-two: #E5D9B6;

    /* Text */
    --font-size-one: 1.6rem;
    --font-size-two: 2.5rem;

    /* Size */
    --navbar-height: 120px;
}

/* Navbar Section */
.navbar-section {
    position: relative;
    z-index: 10;
    height: var(--navbar-height);
    margin: 0 100px;
    /* border: 1px black solid; */
    font-size: var(--font-size-one);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    box-sizing: border-box;
}

.language {
    display: flex;
    gap: 10px;
    transition: 0.2s ease;
}

.logo {
    margin-top: 5px;
}

.language:hover {
    cursor: pointer;
    color: var(--text-color-two);
}

.navbar-items {
    display: flex;
    gap: 20px;
}

.navbar-item {
    border-radius: 15px;
    padding: 8px 20px;
    color: var(--text-color-one);
    transition: 0.2s ease;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.navbar-item:hover {
    background-color: var(--hover-color-one);
    color: var(--text-color-two);
}

/* Center Section */
.center-section {
    font-size: var(--font-size-two);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - var(--navbar-height));
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-connexion {
    border-radius: 15px;
    border: 2px solid #000;
    padding: 8px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 0.2s ease;
}

.center-connexion:hover {
    background-color: var(--hover-color-one);
    color: var(--text-color-two);
    border: 2px solid var(--text-color-two);
}