.app-layout {
  /* On enlève le max-width restrictif pour laisser le flexbox gérer l'espace */
  width: 100%;
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  /* justify-content: center; */
}

/* Colonne Milieu */
.main-content {
  width: calc(100vw - 275px);
  flex-shrink: 0;
  min-height: 100vh;
  border-right: 1px solid #2F3336;
  border-left: 1px solid #2F3336;
  background: linear-gradient(to bottom, rgb(0, 80, 0), rgb(0, 20, 0));
}

/* Colonnes extérieures*/
.right-sidebar, .left-sidebar {
  width: 275px;
}

/* Colonne Droite */
.right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Petit fix responsive : Sur petit écran, on cache la colonne de droite pour pas écraser le feed */
@media (max-width: 1000px) {
  .right-sidebar {
    display: none;
  }
}