.app-layout {
  /* On enlève le max-width restrictif pour laisser le flexbox gérer l'espace */
  width: 100%;
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
}

/* Colonne Milieu */
.main-content {
  width: 800px;
  flex-shrink: 0;
  min-height: 100vh;
  border-right: 1px solid #2F3336;
  border-left: 1px solid #2F3336;
  background: linear-gradient(to bottom, rgb(0, 80, 0), rgb(0, 20, 0));
}

/* Colonnes extérieures*/
.right-sidebar, .left-sidebar {
  width: calc((100% - 800px) / 2);
  display: flex; 
}
.left-sidebar {
  justify-content: flex-end; 
  padding-right: 20px; /* Optionnel : Garde un petit espace pour pas que ça touche littéralement le bord si tu veux */
}
/* Colonne Droite */
.right-sidebar {
  flex-direction: column;
  align-items: center; /* Centre le contenu de droite */
}

/* Petit fix responsive : Sur petit écran, on cache la colonne de droite pour pas écraser le feed */
@media (max-width: 1000px) {
  .right-sidebar {
    display: none;
  }
}