@import './variables.css';

/* Fond */
.app-layout {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-black);
  display: flex;
}

/* Colonne Milieu */
.main-content {
  width: var(--main-content-width);
  min-height: 100vh;
  border-right: 1px solid #2F3336;
  border-left: 1px solid #2F3336;
  background: var(--background-green-one);
}

/* Colonnes extérieures*/
.right-sidebar, .left-sidebar {
  width: var(--left-sidebar-width);
}

/* Colonne Droite */
.right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Petit fix responsive : Sur petit écran, on cache la colonne de droite pour pas écraser le feed */
@media (max-width: 1000px) {
  .right-sidebar {
    display: none;
  }
}