@import './variables.css';

/* Fond */
.app-layout {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-black);
  display: flex;
}

/* Colonne Milieu */
.main-content {
  width: var(--main-content-width);
  min-height: 100vh;
  border-right: 1px solid #2F3336;
  border-left: 1px solid #2F3336;
  background: var(--background-green-one);
}

/* Colonnes extérieures*/
.right-sidebar, .left-sidebar {
<<<<<<< HEAD
  width: calc((100% - 800px) / 2);
  display: flex; 
}
.left-sidebar {
  justify-content: flex-end; 
  padding-right: 20px; /* Optionnel : Garde un petit espace pour pas que ça touche littéralement le bord si tu veux */
=======
  width: var(--left-sidebar-width);
>>>>>>> 3a003f2d5fa83a89d7e166335e8ed53184bc2102
}
/* Colonne Droite */
.right-sidebar {
  flex-direction: column;
  align-items: center; /* Centre le contenu de droite */
}

/* Petit fix responsive : Sur petit écran, on cache la colonne de droite pour pas écraser le feed */
@media (max-width: 1000px) {
  .right-sidebar {
    display: none;
  }
}