:root {
  --background-black: #000;
  --background-green-one: linear-gradient(to bottom, rgb(0, 80, 0), rgb(0, 20, 0));
  --color-white: #fff;

  --font-size-title: 24px;
  --font-size-base: 16px;

  --left-sidebar-width: 275px;
  --main-content-width: calc(100vw - var(--left-sidebar-width));

}