.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #F5F0BB;
}

.search-btn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: 2px solid gray;
    border-radius: 30px;
    width: 500px;
    height: 30px;
    font-size: 1rem;
    outline: none;
}

.search-btn:focus {
    outline: none;
    border: 2px solid white;
}

.response-search {
    width: 50%;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
}

.search-zone {
    margin-top: 50px;
}

.choices {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.choice {
    background: black;
    color: white;
    padding: 8px 35px 12px;
    border-radius: 10px;
    border: gray 2px solid;
    cursor: pointer;
}

.choice:hover {
    background-color: rgb(44, 44, 44);
    border: 2px rgb(173, 173, 173) solid;
}

.choice.active {
    background-color: rgb(45, 45, 45);
    border: 2px rgb(173, 173, 173) solid;
}

/* Profil */
.profil-image {
    margin-top: 10px;
    width: 22%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.profil-card {
    display: flex;
    /* border: 2px solid rgb(0, 0, 0); */
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    /* background-color: rgba(128, 128, 128, 0.477); */
}