@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #F5F0BB;
}

.search-btn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: 2px solid gray;
    border-radius: 30px;
    width: 500px;
    height: 30px;
    font-size: 1rem;
    outline: none;
}

.search-input:focus {
    outline: none;
    border: 2px solid white;
}

.response-search {
    width: 50%;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-zone {
    margin-top: 50px;
}

.choices {
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

.choice {
    background: black;
    color: white;
    padding: 10px 35px;
    border-radius: 10px;
    border: gray 2px solid;
    cursor: pointer;
}

.choice:hover {
    background-color: rgb(44, 44, 44);
    border: 2px rgb(173, 173, 173) solid;
}

.choice.active {
    background-color: rgb(45, 45, 45);
    border: 2px rgb(173, 173, 173) solid;
}

/* Profil */
.profil-image {
    width: 65px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.profil-card {
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 15px;
    padding: 6px;
    /* background-color: rgba(128, 128, 128, 0.477); */
}

.artist-result, .album-result {
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    column-gap: 20px;
    background: transparent;
    padding: 6px;
    border-radius: 15px;
}

.artist-result:hover, .profil-card:hover, .album-result:hover {
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.artist-img, .album-cover {
    width: 65px;
    height: auto;
    border-radius: 50%;
}

.result-text {
    margin: 10px 0px;
}

.response-search {
    display: flex;
}

.album-result {
    font-size: 1.2rem;
}

.album-cover {
    width: 65px;
    height: auto;
    border-radius: 5%;
}