.login-container {
  text-align: center;
  margin-top: 100px;
}

.login-button {
          padding: 15px 30px;
          font-size: 18px;
          background-color: #1DB954; /* Vert Spotify */
          color: white;
          border: none;
          border-radius: 50px;
          cursor: pointer;
          font-weight: bold;
}

