.login-container {
  text-align: center;
  padding: 50px 0 100px 0;
  color: white;
}

.login-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #1aa74b;
  /* Vert Spotify */
  color: white;
  border: 1px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
}

.login-button:hover {
  border: 1px solid gray;
  background-color: #15893e8e;
}