* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.username {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 180px;
    font-size: 2.5rem;
    display: flex;
    /* border: 1px solid red; */
    /* align-items: center; */
    padding: 25px;
    justify-content: center;
    gap: 50px;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 50, 0, 1)); */
    background-color: rgb(0, 50, 0);
    background: linear-gradient(to bottom, rgb(0, 50, 0, 0.90), rgb(0, 50, 0, 1));
    
}

.nameUser {
    padding: 40px 0px;
    font-weight: 600;
}

.imgUser {
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
}

.userInfo {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: calc(100% - 300px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(to bottom, rgba(0, 50, 0, 1), rgb(0, 0, 0, 0.70));
}

.topSongs, .topArtists, .bio {
    width: 350px;
    height: 420px;
    border-radius: 2%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    row-gap: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.bioText, .topTitres, .topArtistes {
    font-size: 1.2rem;
    padding: 0px 40px;
    text-align: center;
}

.titre {
    padding: 10px 0px 0px;
    font-size: 1.8rem;
    text-align: center;
}

ul {
    list-style-type: decimal;
}


li {
    margin-bottom: 12px;
}