.username {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    gap: 50px;
}

.imgUser {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10%;
}

.userInfo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    gap: 50px;
}

.topSongs, .topArtists, .bio {
    width: 400px;
    height: 400px;
    border: 2px white solid;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    background-color: rgba(65, 64, 64, 0.34);
}

.bioText, .topTitres {
    font-size: 1.2rem;
    padding: 20px 40px;
    overflow-wrap: break-word;
    text-align: center;
}

.titre {
    padding: 10px 0px 0px;
    font-size: 1.8rem;
    text-align: center;
}