

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./background-1.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}