/* Chat.css */

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #121212; /* Fond sombre */
    overflow: hidden;
}

.chat-header {
    padding: 1rem 2rem;
    background-color: #000000;
    border-bottom: 1px solid #333;
    color: white;
    display: flex;
    align-items: center;
}

.chat-header h3 {
    margin: 0;
    color: #1db954; /* Vert Spotify */
}

.chat-messages {
    flex: 1;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

/* Style commun des messages */
.message {
    display: flex;
    align-items: center;
}

.message .content {
    max-width: 60%;
    overflow-wrap: break-word;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    color: #d1d1d1;
}

/* Messages envoyés (Moi) -> Droite + Vert */
.sended {
    justify-content: flex-end;
}

.sended .content {
    background-color: #1db954; /* Vert Spotify */
    color: white;
    border-bottom-right-radius: 0.2rem;
}

/* Messages reçus (Ami) -> Gauche + Gris */
.recieved {
    justify-content: flex-start;
}

.recieved .content {
    background-color: #333333;
    border-bottom-left-radius: 0.2rem;
}

/* Zone de saisie */
.chat-input-container {
    background-color: #000000;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid #333;
}

.chat-input-container input {
    flex: 1;
    background-color: #333;
    color: white;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    outline: none;
}

.chat-input-container input:focus {
    border: 1px solid #1db954;
}

.chat-input-container button {
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    border: none;
    background-color: #1db954;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
}

.chat-input-container button:hover {
    background-color: #1ed760;
}